@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
@* <style>
    .logincenter {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* padding: 20px;
        width: 31.25rem;
        height: 25rem; */
    }
</style> *@

<div class="logincenter">
    @Body
</div>





